---
  
---
<div class="bg-[#fcdcbd] p-8 flex flex-col items-center justify-center">
  <h1 class="text-[23px] text-[#54595f] bodoni-moda italic font-extralight tracking-wider">Cuánto falta para la boda</h1>
  <div class="flex md:gap-12 gap-4 mt-6 text-[#617248] bodoni-moda">
    <div class="flex flex-col items-center">
      <span id="days" class="text-[47px] font-normal">0</span>
      <span class="text-[20px] mt-2">Días</span>
    </div>
    <div class="flex flex-col items-center">
      <span id="hours" class="text-[47px] font-normal">0</span>
      <span class="text-[20px]  mt-2">Horas</span>
    </div>
    <div class="flex flex-col items-center">
      <span id="minutes" class="text-[47px] font-normal">0</span>
      <span class="text-[20px] mt-2">Minutos</span>
    </div>
    <div class="flex flex-col items-center">
      <span id="seconds" class="text-[47px] font-normal">0</span>
      <span class="text-[20px] mt-2">Segundos</span>
    </div>
  </div>
</div>

<script>
  function updateCountdown() {
    const weddingDate = new Date('2026-02-24T00:00:00');
    const now = new Date();
    const diffTime = weddingDate - now;
    
    const days = Math.floor(diffTime / (1000 * 60 * 60 * 24));
    const hours = Math.floor((diffTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((diffTime % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((diffTime % (1000 * 60)) / 1000);
    
    document.getElementById('days')!.textContent = days.toString();
    document.getElementById('hours')!.textContent = hours.toString();
    document.getElementById('minutes')!.textContent = minutes.toString();
    document.getElementById('seconds')!.textContent = seconds.toString();
  }
  
  updateCountdown();
  setInterval(updateCountdown, 1000); // Actualizar cada segundo
</script>