<div class="py-16 px-8 flex flex-col items-center justify-center text-center">
  <img src="/dresscode.png" alt="" class="w-[640px] mx-auto" />
  <h1 class="mr-de-haviland-regular text-[72px] text-base/12 mb-10">Codigo de Vestimenta</h1>
  <h2 class="text-[40px] mb-30">Formal</h2>
  <!-- Icono de cámara -->
  <img src="/camara.png" alt="Icono de cámara" class="w-60" />
  <h1 class="text-[58px] text-[#617248] bodoni-moda font-normal md:-mb-6 ">Álbum fotos</h1>
  <h1 class="text-[68px] text-[#617248] mr-de-haviland-regular italic font-light mb-8 text-base/12 ">Sube tus fotos a nuestra galería</h1>
  <p class="text-[24px] text-[#1a1a1a] max-w-5xl mb-8 leading-relaxed">
    Cada foto cuenta una historia, y queremos ver la boda a través de tus ojos. Sube aquí tus imágenes y forma parte de nuestros más recuerdos bonitos
  </p>
  <a href="#" class="bg-[#617248] text-white px-8 py-3 rounded-lg text-[20px] hover:bg-[#4d5a39] transition-colors duration-300 mb-6"> Album de fotos google </a>
  <p class="text-[34px] text-[#1a1a1a] bodoni-moda">¡Muchas gracias!</p>
</div>
