<div class="py-16 px-8 flex flex-col items-center justify-center text-center">
  <img src="/dresscode.png" alt="" class="w-[640px] mx-auto" />
  <h1 class="mr-de-haviland-regular text-[72px] text-base/12 mb-10">Codigo de Vestimenta</h1>
  <h2 class="text-[40px] mb-20 mt-10">Formal</h2>
  <!-- Icono de cámara -->
  <img src="/camara.png" alt="Icono de cámara" class="w-60" />
  <h1 class="text-[58px] text-[#617248] bodoni-moda font-normal md:-mb-6">Álbum fotos</h1>
  <h1 class="text-[68px] text-[#617248] mr-de-haviland-regular italic font-light mb-8 text-base/12">Sube tus fotos a nuestra galería</h1>
  <p class="text-[24px] text-[#1a1a1a] max-w-5xl mb-8 leading-relaxed">
    Cada foto cuenta una historia, y queremos ver la boda a través de tus ojos. Sube aquí tus imágenes y forma parte de nuestros recuerdos.
  </p>
  <a href="https://photos.app.goo.gl/HsHt9dFUN15o76wM9" class="bg-[#617248] text-white px-8 py-3 rounded-lg text-[20px] hover:bg-[#4d5a39] transition-colors duration-300 mb-6">
    Album de fotos google
  </a>

  <h1 class="text-[58px] text-[#617248] bodoni-moda font-normal md:-mb-6 mt-20 text-base/12">Confirmación de asistencia</h1>
  <p class="text-[24px] text-[#1a1a1a] max-w-5xl mb-8 leading-relaxed mt-10">Ayúdanos a planificar mejor nuestro gran día, confirmando tu asistencia antes del 15 de febrero.</p>
  <a
    href="https://api.whatsapp.com/send/?phone=527771591421&text=Hola%2C+confirmo+mi+asistencia+para+la+boda%2C+mi+nombre+es%3A&type=phone_number&app_absent=0"
    class="inline bg-[#617248] text-white px-8 py-3 rounded-lg text-[20px] hover:bg-[#4d5a39] transition-colors duration-300 mb-6">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6 fill-current inline-block">
      <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#fff" stroke="none">
        <path
          d="M2312 5023 c-18 -9 -43 -30 -55 -47 -22 -31 -22 -37 -25 -406 -3
          -420 -3 -421 68 -468 29 -20 44 -23 88 -20 61 5 96 28 123 78 18 32 19 63 19
          394 0 345 -1 361 -21 403 -36 73 -123 103 -197 66z"
        ></path>
        <path d="M1460 4322 c-70 -35 -102 -131 -66 -200 8 -15 88 -100 178 -189 132
          -130 171 -163 204 -172 121 -32 228 98 170 207 -22 41 -337 350 -369 362 -41
          15 -77 12 -117 -8z"
        ></path>
        <path d="M3175 4326 c-16 -8 -106 -91 -199 -184 l-169 -170 -5 -56 c-7 -83 29
          -133 111 -157 68 -19 100 1 276 174 163 162 191 199 191 257 0 104 -113 179
          -205 136z"></path>
        <path
          d="M2247 3741 c-115 -38 -200 -115 -256 -231 l-36 -75 -5 -704 -5 -704
          -33 51 c-43 67 -134 150 -209 189 -158 85 -350 89 -522 12 -140 -63 -202 -148
          -209 -285 -4 -71 -1 -89 20 -135 30 -66 685 -1201 741 -1284 52 -77 225 -250
          300 -299 124 -81 254 -135 412 -173 104 -24 855 -31 1003 -9 433 65 796 372
          936 791 55 164 57 195 54 901 l-3 649 -31 65 c-40 82 -87 136 -155 177 -109
          65 -242 78 -357 35 l-50 -19 -49 49 c-26 27 -77 63 -113 81 -62 30 -71 32
          -180 32 -104 0 -120 -3 -173 -27 -32 -15 -69 -36 -83 -47 l-25 -19 -50 34
          c-77 51 -144 67 -261 62 l-98 -5 0 261 c0 285 -7 336 -57 428 -39 71 -139 161
          -210 189 -82 31 -217 36 -296 10z m201 -301 c64 -39 62 -17 62 -802 0 -809 -5
          -761 81 -806 72 -38 140 -19 193 52 20 26 21 44 26 317 l5 291 37 34 c32 29
          45 34 87 34 34 0 56 -6 76 -22 51 -40 55 -64 55 -350 0 -298 3 -313 76 -356
          68 -40 145 -19 198 52 20 26 21 44 26 314 4 225 8 292 19 308 37 56 135 73
          186 32 51 -40 55 -64 55 -350 0 -298 3 -313 76 -356 68 -40 145 -19 198 52
          19 25 21 45 26 262 l5 234 28 27 c22 22 37 28 73 28 39 0 50 -5 75 -33 l30
          -33 -4 -642 c-3 -726 1 -682 -87 -862 -109 -223 -308 -387 -556 -457 -77 -22
          -92 -23 -519 -23 l-440 0 -88 28 c-199 62 -360 176 -467 332 -40 58 -702 1207
          -708 1228 -7 28 75 59 159 59 82 1 162 -33 207 -88 16 -19 100 -158 188 -310
          102 -177 169 -283 188 -297 69 -49 170 -26 213 49 l23 39 0 971 0 971 23 34
          c41 61 113 77 175 39z"
        ></path>
        <path d="M764 3471 c-107 -49 -113 -199 -12 -261 31 -19 51 -20 403 -20 418 0
          420 0 463 75 40 69 20 146 -52 199 -26 20 -41 21 -394 24 -341 2 -370 1 -408
          -17z"></path>
        <path d="M3226 3480 c-94 -29 -135 -157 -75 -234 44 -56 47 -56 451 -56 355 0
          375 1 406 20 99 61 95 203 -8 257 -43 23 -47 23 -394 22 -193 0 -364 -5 -380
          -9z"></path>
      </g>
    </svg>
    <span class="inline-block mr-2">Confirmar vía WhatsApp</span>
  </a>
  <p class="text-[34px] text-[#1a1a1a] bodoni-moda mt-20">¡Te esperamos!</p>

</div>
