<div class="md:h-screen h-[65vh] md:bg-[url('/fathers.png')] bg-cover bg-center items-center justify-center grid grid-cols-1 md:grid-cols-2 gap-14 md:gap-0">
  <div class="flex flex-col items-center text-center md:mb-0 mb-[-100px]">
    <h1 class="bodoni-moda text-[34px] text-center md:text-[56px] px-4 mb-6">Con la bendición de Dios y de nuestros padres</h1>
    <h1 class="md:text-[54px] text-[34px] text-secondary">Padres del novio</h1>
    <h2 class="md:text-[38px] text-[28px] alex-brush-regular">Sr. Patricio Rodriguez Muñoz</h2>
    <h2 class="md:text-[38px] text-[28px] alex-brush-regular">Sra. Yaheka Alicia Cruz Urano</h2>
  </div>
  <div class="flex flex-col items-center text-center">
    <h1 class="md:text-[54px] text-[34px] text-secondary">Padres de la novia</h1>
    <h2 class="md:text-[38px] text-[28px] mt-2 alex-brush-regular">Sr. Crescencio Méndez Delgado</h2>
    <h2 class="md:text-[38px] text-[28px]  alex-brush-regular">Sra. Rogelia Domínguez Martínez</h2>
  </div>
</div>