<div class="bg-[#778560] p-8 mb-8 flex flex-col items-center justify-center">
  <svg aria-hidden="true" class="e-font-icon-svg e-fas-quote-left w-[24px] mb-2 md:mb-0 md:w-[35px] text-white fill-white" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"></path></svg>
  <h1 class="md:text-[36px] text-[20px] text-center  text-white">Nuestro amor encontró su camino y queremos <p class="md:hidden inline">celebrarlo contigo.</p></h1>
  <h1 class="md:text-[36px] text-[20px] md:block hidden text-white">celebrarlo contigo.</h1>
</div>