<div class="h-screen bg-[url('/bg1.png')] bg-cover bg-center flex flex-col items-center justify-center">
  <h2 class="bodoni-moda text-[54px] md:text-[56px]">¡Nos casamos!</h2>
  <h1 class="text-[54px] md:text-[158px] text-secondary alex-brush-regular mb-[-40px]">Yarely</h1>
  <h1 class="text-[54px] md:text-[65px] monsieur-la-doulaise-regular">y</h1>
  <h1 class="text-[54px] md:text-[158px] text-secondary alex-brush-regular">Daniel</h1>
  <h2 class="text-[24px] md:text-[48px]">Junto a nuestra familia, queremos</h2>
  <h2 class="text-[24px] md:text-[48px]">que seas parte de nuestra unión.</h2>
  <h2 class="text-[24px] md:text-[48px] mt-8 font-bold">24 / Febrero / 2026</h2>
</div>