<div>
  <div class="p-8 rounded-lg flex flex-col items-center justify-center mt-20">
    <h1 class="text-black text-[45px]">Ceremonia</h1>
    <img src="/anillos.png" alt="" class="w-[140px]">
    <p class="mt-4 text-center text-gray-700 text-[28px]">La ceremonia y celebración de nuestra boda se llevará a cabo en casa de la novia.</p>
    <p class="mt-2 text-center text-gray-700 text-[28px]">Dirección: Calle Naranjos 1, 62334 Cuernavaca MOR, México.</p>
    <p class="mt-4 text-center text-gray-700 text-[28px]">Hora: 10:00 hrs.</p>
    <a href="https://maps.app.goo.gl/aJ6y92qexQ8FNkwz7" class="bg-[#617248] mt-8 text-white rounded-2xl p-3 text-[20px]">Ver ubicación</a>
  </div>
  <div class="p-8 rounded-lg flex flex-col items-center justify-center mt-20">
    <h1 class="text-black text-[45px]">Celebración</h1>
    <img src="/tarta.png" alt="" class="w-[140px]">
    <p class="mt-4 text-center text-gray-700 text-[28px]">La ceremonia y celebración de nuestra boda se llevará a cabo en casa de la novia.</p>
    <p class="mt-2 text-center text-gray-700 text-[28px]">Dirección: Calle Naranjos 1, 62334 Cuernavaca MOR, México.</p>
    <p class="mt-4 text-center text-gray-700 text-[28px]">Hora: 10:00 hrs.</p>
    <a href="https://maps.app.goo.gl/aJ6y92qexQ8FNkwz7" class="bg-[#617248] mt-8 text-white rounded-2xl p-3 text-[20px]">Ver ubicación</a>
  </div>
</div>
